#pictainer {
  display: flex;
  margin: auto;
  width: 600px;
  flex-wrap: wrap;
}

.pic {
  height: 300px;
  width: 300px;
}

/* these transform properties are inaccesible with my existing js for some reason, going to have to come back to this later and wrap my head around inline styles vs imported CSS */

#tl {
  transform: scaleX(1) scaleY(1);
}

#tr {
  transform: scaleX(1) scaleY(1);
}

#bl {
  transform: scaleX(1) scaleY(1);
}

#br {
  transform: scaleX(1) scaleY(1);
}

#buttWrapUL {
  float: left;
}

#buttWrapBL {
  float: left;
}

#buttWrapUR {
  float: right;
}

#buttWrapBR {
  float: right;
}
